@import '../../variables';

.Text {
  display: block;
  font-style: normal;
  font-weight: bold;
  color: $dark100;
}

.h1 {
  font-size: 24px;
  line-height: 29px;
}

.h2 {
  font-size: 19px;
  line-height: 23px;
}

.h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}