@import '../../../variables';

.FooterLinks {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 15px;

  @media(min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 0;
  }
}

.title {
  margin: 0 0 21px 0;
}