@import '../../../variables';

.Bottom {
  text-align: center;
  border-top: 1px solid rgba(31, 32, 65, 0.25);
  padding: 23px 0;
}

.inner {
  display: flex;
  flex-direction: column;

  @media(min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.copyright {
  font-size: 14px;
  margin: 0 auto 15px;
  width: 280px;

  @media(min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }
}

.list {
  padding: 0 30px;
  list-style: none;
  display: flex;
  margin: 0 auto;

  @media(min-width: $tablet-width) {
    margin: 0;
  }
}

.item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.link {
  display: block;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transition: .3s;

  &:hover {
    opacity: 0.5;
  }
}

.twitter {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.516 5.125c.03.125.047.328.047.61 0 2.25-.547 4.421-1.641 6.515-1.125 2.219-2.703 3.984-4.735 5.297-2.218 1.469-4.765 2.203-7.64 2.203-2.75 0-5.266-.734-7.547-2.203.344.031.734.047 1.172.047 2.281 0 4.328-.703 6.14-2.11-1.093 0-2.062-.312-2.906-.937a5.085 5.085 0 01-1.687-2.438c.312.032.61.047.89.047.438 0 .875-.047 1.313-.14-1.125-.25-2.063-.829-2.813-1.735C1.36 9.375.984 8.344.984 7.187v-.093a4.634 4.634 0 002.204.656 5.46 5.46 0 01-1.594-1.781 4.683 4.683 0 01-.61-2.344c0-.875.235-1.703.704-2.484A13.646 13.646 0 006.14 4.797a13.794 13.794 0 005.671 1.5 6.832 6.832 0 01-.093-1.125c0-.875.219-1.688.656-2.438A4.77 4.77 0 0114.156.906 4.754 4.754 0 0116.594.25c.718 0 1.375.14 1.968.422a5.473 5.473 0 011.641 1.125 10.015 10.015 0 003.14-1.172c-.374 1.156-1.093 2.063-2.155 2.719.937-.125 1.875-.39 2.812-.797-.688 1-1.516 1.86-2.484 2.578z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='12' y1='-2' x2='12' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.facebook {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5 2.75v16.5a2.17 2.17 0 01-.656 1.594 2.17 2.17 0 01-1.594.656h-3.984v-8.297h2.812l.422-3.187h-3.234V8c0-.5.093-.875.28-1.125.25-.281.673-.422 1.267-.422H18.5V3.641c-.656-.094-1.469-.141-2.438-.141-1.25 0-2.25.375-3 1.125-.718.719-1.078 1.734-1.078 3.047v2.344H9.125v3.187h2.86V21.5H2.75a2.17 2.17 0 01-1.594-.656A2.17 2.17 0 01.5 19.25V2.75c0-.625.219-1.156.656-1.594A2.17 2.17 0 012.75.5h16.5a2.17 2.17 0 011.594.656c.437.438.656.969.656 1.594z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='11' y1='-1' x2='11' y2='23' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.instagram {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 5.61c-.969 0-1.875.25-2.719.75a5.406 5.406 0 00-1.969 1.968A5.252 5.252 0 005.61 11c0 .969.235 1.875.704 2.719a5.93 5.93 0 001.968 1.969A5.51 5.51 0 0011 16.39c.969 0 1.86-.235 2.672-.703.844-.5 1.5-1.157 1.969-1.97.5-.843.75-1.75.75-2.718a5 5 0 00-.75-2.672 4.972 4.972 0 00-1.97-1.969A5 5 0 0011 5.61zm0 8.906a3.386 3.386 0 01-2.484-1.032A3.386 3.386 0 017.484 11c0-.969.344-1.797 1.032-2.484A3.386 3.386 0 0111 7.484c.969 0 1.797.344 2.484 1.032A3.386 3.386 0 0114.516 11c0 .969-.344 1.797-1.032 2.484A3.386 3.386 0 0111 14.516zm6.89-9.141c-.03.344-.171.64-.421.89-.219.25-.5.376-.844.376s-.64-.125-.89-.375a1.217 1.217 0 01-.376-.891c0-.344.125-.64.375-.89s.547-.376.891-.376.64.125.89.375.376.547.376.891zm3.563 1.266c-.062-.907-.203-1.688-.422-2.344A5.13 5.13 0 0019.72 2.28 5.13 5.13 0 0017.703.97C17.047.75 16.266.625 15.36.594 14.484.53 13.031.5 11 .5S7.5.531 6.594.594c-.875.031-1.64.156-2.297.375A5.537 5.537 0 002.234 2.28 5.392 5.392 0 00.97 4.297C.75 4.953.609 5.734.547 6.64.516 7.516.5 8.969.5 11s.016 3.5.047 4.406c.062.875.203 1.64.422 2.297a5.841 5.841 0 001.265 2.063 5.318 5.318 0 002.063 1.218c.656.25 1.422.391 2.297.422.906.063 2.375.094 4.406.094 2.031 0 3.484-.031 4.36-.094.906-.031 1.687-.156 2.343-.375a5.392 5.392 0 002.016-1.265 5.536 5.536 0 001.312-2.063c.219-.656.344-1.422.375-2.297.063-.906.094-2.375.094-4.406 0-2.031-.016-3.484-.047-4.36zm-2.25 10.546c-.375.938-1.047 1.61-2.015 2.016-.5.188-1.344.313-2.532.375-.656.031-1.625.047-2.906.047h-1.5c-1.25 0-2.219-.016-2.906-.047-1.157-.062-2-.187-2.532-.375-.937-.375-1.609-1.047-2.015-2.015-.188-.532-.313-1.375-.375-2.532a68.365 68.365 0 01-.047-2.906v-1.5c0-1.25.016-2.219.047-2.906.062-1.188.187-2.032.375-2.532.375-.968 1.047-1.64 2.015-2.015.532-.188 1.375-.313 2.532-.375a68.37 68.37 0 012.906-.047h1.5c1.25 0 2.219.016 2.906.047 1.188.062 2.031.187 2.531.375.97.375 1.641 1.047 2.016 2.015.188.5.313 1.344.375 2.532.031.656.047 1.625.047 2.906v1.5c0 1.25-.016 2.219-.047 2.906-.062 1.156-.187 2-.375 2.531z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='11' y1='-1' x2='11' y2='23' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}