@import '../../../variables';

.NavItem {
  margin-bottom: 5px;

  @media(min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:not(.footer):not(:last-child) {
    margin-right: 20px;
  }
}

.dropdown {
  display: flex;
  align-items: center;
}

.link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: $dark50;
  transition: .3s;

  &:hover {
    color: $dark100
  }
}

.button {
  display: block;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.594.578L12 1.984l-6 6-6-6L1.406.578 6 5.172 10.594.578z' fill='%231F2041' fill-opacity='.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.footer {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

