@import '../../../variables';

.NavItem {
  font-size: 14px;
  line-height: 17px;
}

.withDropdown {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 5px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  @media(min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.link {
  display: block;
  text-decoration: none;
  transition: .3s;
  color: $dark50;

  &:not(.active):hover {
    color: $dark100
  }
}

.active {
  text-shadow: 0 0 1px rgba(31, 32, 65, 0.75);
}