@import '../../variables';

.Label {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: inherit;
}

.footer {
  margin-bottom: 21px;
}