@import '../../../variables';

.PaginationItem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dark50;
  user-select: none;
  border: none;
  background-color: transparent;
}

.number {
  cursor: pointer;
  transition: opacity .3s;

  &:hover:not(:disabled) {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;
    color: white;
  }
}

.current {
  color: white;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: auto;
}