@import '../../variables';

.Footer {
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}

.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 50px 0;

  @media(min-width: $tablet-width) {
    padding: 75px 0;
  }

  @media(min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 15px;

  @media(min-width: $desktop-width) {
    width: auto;
    text-align: left;
    margin-bottom: 0;
  }
}

.text {
  max-width: 260px;
  margin: 20px auto 0;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;

  @media(min-width: $desktop-width) {
    width: auto;
    text-align: left;
  }
}