$dark100: #1F2041;
$dark75: rgba($dark100, 0.75);
$dark50: rgba($dark100, 0.50);
$dark25: rgba($dark100, 0.25);
$dark5: rgba($dark100, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$tablet-width: 660px;
$desktop-width: 1200px;