@import '../../variables';

.RadioInput {
  display: flex;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.input {
  margin: 0;
}

.label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.input + .label:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFF;
  border: 1px solid $purple;
}

.input:checked + label:after {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 50%;
}